<h1>My Petitions</h1>



{{#unless owner}}
Please start a <a href="/petitions/start-petition"> new petition</a>
{{/unless}}

{{#if owner}}
{{#each owner}}
<li>
  <a href="/petitions/{{this._id}}">{{this.name}}</a>
</li>

{{/each }}
{{/if}}
<br>





<h2>Petitions Signed</h2>
{{#each signatures}}
    <li>
      <a href="/petitions/{{this._id}}">{{this.name}}</a>
    </li>
{{/each}}

<a href="/petitions">Sign a petition</a>

{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}
