
<div class="container-my-petitions">
  <div>
    <p>PETITIONS YOU STARTED</p>
    {{#unless owner}}
    Please start a <a href="/petitions/start-petition"> new petition</a> <br>
    {{/unless}}

    {{#if owner}}
    {{#each owner}}
    <li class="my-petitions-list">
    <a href="/petitions/{{this._id}}">{{this.name}}</a>
    </li>
    {{/each }}
    {{/if}}
    <br>
  </div>
  <div>
    <p>PETITIONS YOU SUPPORT</p>
    {{#each signatures}}
    <li class="my-petitions-list">
      <a href="/petitions/{{this._id}}">{{this.name}}</a>
    </li>
    {{/each}}

  
      

    {{#if errorMessage}}
    <h5>{{errorMessage}}</h5>
    {{/if}}
  </div>
  
  
</div>
<br><br>
<div class="my-petitions-button" >
      <div><a class="button-style" href="/petitions/start-petition">START A PETITION</a></div>
      <div><a class="button-style"href="/petitions">SIGN A PETITION</a></div> 
</div>

