
<div class="container-my-petitions">
  <div class="my-petitions-box">
    <p style="text-decoration: underline;">PETITIONS YOU STARTED</p>
    {{#unless owner}}
    Please start a <a href="/petitions/start-petition"> new petition</a> 
    {{/unless}}

    {{#if owner}}
    {{#each owner}}
    <li class="my-petitions-list">
    <a href="/petitions/{{this._id}}">{{this.name}}</a>
    </li>
    {{/each }}
    {{/if}}
  </div>
  <div class="my-petitions-box">
    <p style="text-decoration: underline;">PETITIONS YOU SUPPORT</p>
    {{#each signatures}}
    <li class="my-petitions-list">
      <a href="/petitions/{{this._id}}">{{this.name}}</a>
    </li>
    {{/each}}

  
      

    {{#if errorMessage}}
    <h5>{{errorMessage}}</h5>
    {{/if}}
  </div>
  
  
</div>
<br>
<div class="my-petitions-button" >
      <div><a style="margin-right: 60px;" class="btn-style" href="/petitions/start-petition">START A PETITION</a></div>
      <div><a class="btn-style"href="/petitions">SIGN A PETITION</a></div> 
</div>

