
<p class="heading-list">DISCOVER PETITIONS</p>

{{#each petitionList}}
<div class="main-container-list">  
  <div class="petition-list">
    <div class="container-photo">
      <img class="button-style" style="width: 150px; height: 150px;" src="{{this.image}}" alt="petition-image">
    </div>
    <div class="container-description">
      <a href="/petitions/{{this._id}}"><p><b>{{this.name}}</b></p></a>
      <p>{{this.description}}</p>
      <p><b>{{this.signatures.length}}</b> of <b>{{this.signatureTarget}}</b> signed.</p>
      <a class="" style="text-decoration: underline;" href="/petitions/{{this._id}}"><p><b>Read more</b></p></a>
    </div> 
  </div>
</div>

{{/each}} 

<div class="container-cause">
  <p>If you could not find a cause to support, you can start your own here</p>
  <div id="petition-start-button">
    <a class="button-style" href="/petitions/start-petition">START A PETITION</a>
  </div>
</div>





{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}

