{{#with user}}
<div  class="container-profile">
    <div class="container-p-image">
        <img class="button-style profile-picture" src="{{image}}" alt="profile pic">
        <br>   
    </div>
    <div class="container-bio">
        {{#if bio}}
        <br>
        <p>Welcome <b>{{name}}</b>!</p>
        <p><b>About me: </b>{{bio}}</p>
        <p><b>Username: </b>{{username}}</p>
        <p><b>E-mail: </b>{{email}}</p>
        <br><br>
        <a class="petition-list" href="/petitions/my-petitions" style="padding: 7px; width:fit-content ">Click here to see your petitions</a>
        {{/if}}
    </div> 
</div>
<div class="container-edit-profile">
    <a href="/profile/edit">Edit Profile</a>
    <a href="/profile/delete">Delete Account</a>
</div>

{{/with}}