{{#with user}}
<div>
 <p>Welcome <b>{{name}}</b></p>
<img class="button-style" src="{{image}}" alt="profile pic">
<br>   
</div>

{{#if bio}}
<label>About Me</label>
<p>{{bio}}</p>
{{/if}}</a>


<p>{{username}}</p>
<p>{{email}}</p>
<br>
<br>
<a href="/profile/edit">Edit your profile</a>
<a href="/profile/delete">Delete Account</a>
{{/with}}