

{{#unless owner}}
 
  {{#with petition}}
    <div class="container-single-petition">
      <div>
       <img class="button-style"  id="single-pet-img" src="{{this.image}}" alt="petition image">
      </div>
    
      <div class="single-petition-info">
        <h2>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>Signatures: {{this.signatures.length}}</p>
        {{#if ../isSignedAlready}}
          <p>You signed this petition already</p>
          <br>
          <a class="button-style" href="/petitions/{{this._id}}/remove">REMOVE</a>
        {{else}}
          <a class="button-style sign-button" href="/petitions/{{this._id}}/sign">SIGN</a>
        {{/if}}  
      </div>
    </div>
  {{/with}}
   <br> 
  {{#each updateList}}
      <div class="updates petition-list">    
        <p><b>{{this.title}}</b></p>
        <p>{{this.description}}</p>
      </div> 
  {{/each}}

{{/unless}}

<div class="container-remove">
  {{#if isRemoved}}
  <p>Your signature has been removed <b>{{this.name}}</b></p>
  <br>
  <a class="button-style" href="/petitions/my-petitions">Return to Your Petitions</a>
  {{/if}}
</div>



{{#if isSigning}}
  {{#with returnedPetition}}
  <div class="return-petition-button" >
    <p>Thank you for signing the petition <b>{{this.name}}</b></p>
    <a class="button-style" href="/petitions/{{this._id}}">Return</a>
  </div>
    
  {{/with}}
{{/if}}





{{#if isOwner}}
<div class="container-update">
 <form action="/petitions/{{petition._id}}" method="POST">
    <label for="title">Title: </label>
    <br>
    <input type="text" name="title" id="title" placeholder="...">
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea class="button-style" rows="5" cols="40" name="description" id="problem" min="30" placeholder="..."></textarea>
    <br>
    <button type="submit">Update petition</button>
    </form>
    <br>
    <div class="delete-button">
      <a class="button-style" href="/petitions/{{petition._id}}/delete">Delete Petition</a> 
    </div>  
</div>
{{/if}}
<br>




{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}

