

{{#unless owner}}
 
  {{#with petition}}
    <div class="container-single-petition">
      <div>
       <img class="button-style"  id="single-pet-img" src="{{this.image}}" alt="petition image">
      </div>
    
      <div class="single-petition-info">
        <p style="font-size: 20px;"><b>{{this.name}}</b> created by <b>{{this.owner.name}}</b></p>
        <p>{{this.description}}</p><br>
        <p><b>{{this.signatures.length}}</b> human being supported this petition.</p>
        <a href="/petitions/{{this._id}}/signed" class="support">See who else supports this cause</a><br>

      </div>
    </div>
  {{/with}}
   <br> 

    {{#with petition}}
            {{#if ../isSignedAlready}}
          <div class="petition-list container-signed">
            <p>You signed this petition already.</p><br>
            <p>Click here to remove your signature.</p>
            <a class="button-style remove-button" href="/petitions/{{this._id}}/remove">REMOVE</a> 
          </div>
          
        {{else}}
        <div class="petition-list container-signed">
          <p>Click here to support this cause</p>
          <a class="button-style sign-button" href="/petitions/{{this._id}}/sign">SIGN</a>
        </div>
          
        {{/if}}  
    {{/with}}
    <div style="margin-left: 60px;">
      {{#if updateList}}
        <br><br><p class="" style="padding-left: 10px;"><b>Updates</b></p>
        {{#each updateList}}
          <div class="updates petition-list">    
            <p><b>{{this.title}}</b></p>
            <p>{{this.description}}</p>
          </div> 
        {{/each}}
      {{/if}}
    </div>


{{/unless}}

<div class="container-remove">
  {{#if isRemoved}}
  <p>Your signature has been removed <b>{{this.name}}</b></p>
  <br>
  <a class="button-style" href="/petitions/my-petitions">Return to Your Petitions</a>
  {{/if}}
</div>


{{#if isSigning}}
  {{#with returnedPetition}}
    <div class="return-petition-button" >
      <p>Thank you for signing the petition <b>{{this.name}}</b></p>
      <a class="index-button" style="font-size: 14px;" href="/petitions/{{this._id}}">Return</a>
    </div> 
  {{/with}}
{{/if}}


<div class="container-signature">
 {{#with foundPetition}}  
  <p> People who support <b>{{this.name}}</b> petition</p>
  {{#each ../signatureUsernames}}
    <li class="list">{{this}}</li>
    {{/each}}
    <div style="padding: 100px;">
      <a class="index-button" href="/petitions/my-petitions">Return to your petitions</a>
    </div> 
  {{/with}}
</div>


 





{{#if isOwner}}
<div class="container-update">
 <form action="/petitions/{{petition._id}}" method="POST">
    <label for="title">Title: </label>
    <br>
    <input type="text" name="title" id="title" placeholder="...">
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea class="button-style" rows="5" cols="40" name="description" id="problem" min="30" placeholder="..."></textarea>
    <br>
    <button class="button-style" type="submit">Update petition</button>
    </form>
    <br>
    <div class="delete-button">
      <a class="button-style" href="/petitions/{{petition._id}}/delete">Delete Petition</a> 
    </div>  
</div>
{{/if}}
<br>




{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}

