{{#unless owner}}
  {{#with petition}}
  <h3>{{this.name}}</h3>
  <h2>{{this.description}}</h2>
  <form action="" method="POST">
    <button type="submit">SIGN</button>
  </form>
  <br>
  {{/with}}
 {{#each updateList}}
  <p>{{this.title}}</p>
  <p>{{this.description}}</p>
  {{/each}}
{{/unless}}

 


{{#if isOwner}}
<form action="/petitions/{{petition._id}}" method="POST">
<label for="title">Title: </label>
<input type="text" name="title" id="title" placeholder="write here">
<br>
<label for="description">Description: </label>
<input type="text" name="description" id="description" placeholder="Enter your update here">
<br>
<button type="submit">Update petition</button>
</form>
 
  <br>
  <a href="/petitions/{{petition._id}}/delete">Delete Petition</a> 
  {{!-- could be petitions too, but doesnt make sense --}}
  

{{/if}}




{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}

