{{#unless owner}}
  {{#with petition}}
  <div class="container-single-petition">
    <div>
      <img class="button-style"  id="single-pet-img" src="{{this.image}}" alt="petition image">
    </div>
    <div class="single-petition-info">
      <h2>{{this.name}}</h3>
      <p>{{this.description}}</p>
      <p>Signatures: {{this.signatures.length}}</p>

      <a class="button-style sign-button" href="/petitions/{{this._id}}/sign">SIGN</a> 
    </div>
  </div>
  {{/with}}
   <br>
    {{#each updateList}}
      <div class="updates petition-list">    
        <p><b>{{this.title}}</b></p>
        <p>{{this.description}}</p>
      </div> 
   {{/each}}
{{/unless}}

 

{{#if isAlreadySigned}}
{{#with returnedPetition}}
<h1>Thank you for signing the petition {{this.name}}</h1>
<a href="/petitions/{{this._id}}">Return to the petition</a>
{{/with}}
{{/if}}
 
   {{!-- {{#if notSignedYet}}

 {{/if}} --}}

{{#if isOwner}}
<div class="container-update">
 <form action="/petitions/{{petition._id}}" method="POST">
    <label for="title">Title: </label>
    <br>
    <input type="text" name="title" id="title" placeholder="...">
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea class="button-style" rows="5" cols="40" name="description" id="problem" min="30" placeholder="..."></textarea>
    <br>
    <button type="submit">Update petition</button>
    </form>
    <br>
    <div class="delete-button">
      <a class="button-style" href="/petitions/{{petition._id}}/delete">Delete Petition</a> 
    </div>
     
</div>

{{/if}}




{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}

